.App {
  text-align: center;
}

body,
#root {
  background: black
    url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/rN0W64K4ipau8gxv/videoblocks-holiday-greeting-video-card-animation-with-twinkling-stars-and-with-sparkling-background_rqnb2iz_b_thumbnail-1080_12.png");
  background-size: 300px 300px;
  animation: starsAnimation 15s linear infinite;
}

@keyframes starsAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100px -100px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  width: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
